@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
}

.container {
    width:80%;
    display: grid;
    /*grid-template-rows: repeat(6, 16vh);*/
    grid-template-rows: repeat(6, minmax(16%, 170px));
    grid-template-columns:  repeat(5, minmax(16%, 500px));
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: #5A86CF;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

.header {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 5px 5px -2px lightgrey;
    z-index:10;
}

.boxShadow {
    box-shadow: 8px 8px 8px -5px rgb(201, 201, 201);
}

.content {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: #E4E7EF;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bigWhiteIcons {
    filter: invert(99%) sepia(1%) saturate(138%) hue-rotate(336deg) brightness(117%) contrast(100%);
    height: 50px;
    width: 50px;
}

.whiteIcons {
    filter: invert(99%) sepia(1%) saturate(138%) hue-rotate(336deg) brightness(117%) contrast(100%);
    height: 25px;
    width: 25px;
    margin-right: 30px;
}

.dashboard, .home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-style: normal;
}

.dashboard {
    font-size: 29px;
    margin-bottom: 50px;
}

.home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
    font-size: 24px;
}

.items {
    padding-left: 10px;
    padding-bottom:23px;
}

.settings {
    margin-top: 46px;
}

.blackIcons {
    height: 25px;
    width: 25px;
}

.userProfilePicture {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.headerRowOne, .headerRowTwo {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 65px;
}

.search {
    display: flex;
    align-items: center;
}

.account {
    display: flex;
    align-items: center;
}

.userButtons {
    display: flex;
    align-items: center;
}

input {
    background-color: rgb(221, 224, 235);
    border: 0;
    font-size: 23px;
    border-radius: 15px;
    width: 33vw;
    margin-left: 15px;
    padding-left: 10px;
}

button {
    height: 38px;
    width: 93px;
    background-color: #5A86CF;
    border: 0;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    margin-left: 25px;
}

.project {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:  1fr 1fr;
    gap: 25px;
    padding-top: 13px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    width:100%;
    height:90%;
}

.yellowLine {
    background-color: rgb(235, 179, 76);
    height: 100%;
    width: 15px;
}

.projectCard {
    display: flex;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.projectContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.projectIcons {
    display: flex;
    justify-content: flex-end;
}

.cardIcons {
    margin-left: 25px;
}

.projectTitle {
    font-size: 20px; 
    font-weight: 500; 
}

.projectWords {
    padding-top: 20px;
}

.projectDetails {
    padding-top: 5px;
    color: rgb(102, 102, 102);
    width:80%;
}

.sideSection {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.annoCard {
    background-color: white;
    margin-right: 35px;
    margin-top:13px;
    display: grid;
    grid-template-rows: 1fr 5px 1fr 5px 1fr;
    grid-template-columns: 1fr;
    height: 85%;
    padding: 5px;
    border-radius: 15px;
}

hr {
    border: none;
    height:1px;
    background: #dddddd;
    margin: auto;
}

.annoTop, .annoMiddle, .annoBottom {
    margin:auto;

}

.annoWords {
    font-size: 13px;
    color: gray;
    margin-top: 5px;
}

.annoContent {
    padding:20px;
}

.annoTitle {
    font-size: 16px;
    font-weight: 500;
}

.trendingCard {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    margin-right: 35px;
    margin-top:13px;
    height:71%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.trendingProfile {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.trendingProfileHandler {
    margin-left: 15px;
    font-size: 15px;
}
